.keyboard {
  @apply flex flex-col max-h-200px p-1;

  .row {
    @apply flex-1 flex justify-between items-center mt-1;

    button {
      @apply border-inherit rounded-lg bg-slate-300 h-12 w-8 p-1 text-xl;

      @media (max-width: 488px) {
        @apply h-10 w-7 rounded-md text-sm;
      }

      @media (max-width: 375px) {
        @apply h-9 w-6 rounded-md text-sm;
      }
    }
  }

  .lastRow {
    button:first-child {
      @apply w-16;
    }

    button:last-child {
      @apply w-16;
    }
  }

  @media (max-width: 820px) {
    @apply max-h-180px;
  }

  @media (max-width: 488px) {
    @apply w-screen max-h-140px;

    .lastRow {
      button:first-child {
        @apply w-12;
      }

      button:last-child {
        @apply w-12;
      }
    }
  }
}

.greenCardBack {
  @apply mx-2 flex justify-center h-16 w-12 bg-green-500;
}

.yellowCardBack {
  @apply mx-2 flex justify-center h-16 w-12 bg-yellow-500;
}
